<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="UTF-text/html;charset=8">
    <title>美多商城-商品详情</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/host.js"></script>
    <script type="text/javascript" src="/js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="/js/axios-0.18.0.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到美多商城!</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    欢迎您：<em>[[ username ]]</em>
                    <span>|</span>
                    <a @click="logout">退出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="/login.html">登录</a>
                    <span>|</span>
                    <a href="/register.html">注册</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="/user_center_info.html">用户中心</a>
                    <span>|</span>
                    <a href="/cart.html">我的购物车</a>
                    <span>|</span>
                    <a href="/user_center_order.html">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <div class="search_bar clearfix">
        <a href="/index.html" class="logo fl"><img src="/images/logo.png"></a>
        <div class="search_wrap fl">
            <form method="get" action="/search.html" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
            <ul class="search_suggest fl">
                <li><a href="#">索尼微单</a></li>
                <li><a href="#">优惠15元</a></li>
                <li><a href="#">美妆个护</a></li>
                <li><a href="#">买2免1</a></li>
            </ul>
        </div>

        <div class="guest_cart fr">
            <a href="#" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">[[cart_total_count]]</div>

            <ul class="cart_goods_show">
                <li v-for="sku in cart">
                    <a href="/cart.html"><img :src="sku.default_image_url" alt="商品图片"></a>
                    <a href="/cart.html" style="color: #999"><h4>[[sku.name]]</h4></a>
                    <div>[[sku.count]]</div>
                </li>
            </ul>
        </div>

    </div>

    <div class="navbar_con">
        <div class="navbar">
            <div class="sub_menu_con fl">
                <h1 class="fl">商品分类</h1>
                <ul class="sub_menu">
                    <li v-for="group in categories">
                        <div class="level1">
                            <a :href="channel.url" v-for="channel in group.channels">[[ channel.name ]]</a>
                        </div>
                        <div class="level2">
                            <div class="list_group" v-for="cat2 in group.sub_cats">
                                <div class="group_name fl">[[ cat2.name ]] &gt;</div>
                                <div class="group_detail fl">
                                    <a :href="cat3_url(cat3.id)" v-for="cat3 in cat2.sub_cats">[[ cat3.name ]]</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">真划算</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="http://www.itcast.cn">电脑</a>
        <span>></span>
        <span>电脑整机</span>
        <span>></span>
        <a href="/list.html?cat=157">笔记本</a>
    </div>

    <div class="goods_detail_con clearfix" v-for="(sku,index) in order.skus">
        <div class="goods_detail_pic fl"><img
                :src="sku.sku.default_image_url"></div>
        <div class="goods_detail_list fr">
            <h3>[[ sku.sku.name ]]</h3>
            <p>[[ sku.sku.caption ]]</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>[[ sku.price ]]</em></span><span> 市场价￥[[ sku.price ]]</span>
                <a href="javascript:;" class="goods_judge">1人评价</a>
            </div>
            <div class="type_select">
                <label>评分:</label>
                <a @click="score=5" href="javascript:;" :class=" score==5?'select':'' ">100分</a>
                <a @click="score=4" href="javascript:;" :class=" score==4?'select':'' ">80分</a>
                <a @click="score=3" href="javascript:;" :class=" score==3?'select':'' ">60分</a>
                <a @click="score=2" href="javascript:;" :class=" score==2?'select':'' ">40分</a>
                <a @click="score=1" href="javascript:;" :class=" score==1?'select':'' ">20分</a>
                <a @click="score=0" href="javascript:;" :class=" score==0?'select':'' ">0分</a>
            </div>

            <div class="type_select">
                <label>匿名:</label>
                <a @click="is_anonymous=true" href="javascript:;" :class="is_anonymous==true?'select':'' "> 是 </a>
                <a @click="is_anonymous=false" href="javascript:;" :class="is_anonymous==false?'select':'' "> 否 </a>
            </div>

            <div class="type_select">
                <label>评论:</label>
                <textarea rows="5" cols="60" v-model="comment"></textarea>
            </div>
            <div class="operate_btn">
                <a @click="add_comment(sku.id, sku.sku.id)" class="add_cart" id="add_cart">评价</a>
                <a class="add_cart" id="add_cart" href="/">点击回首页</a>
            </div>

        </div>
    </div>


    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
        <p>电话：010-****888 京ICP备*******8号</p>
    </div>
</div>
<script type="text/javascript">
    var price = 11388.00;
    var cat = 157;
</script>
<script type="text/javascript" src="js/comment.js"></script>

</body>
</html>