<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>潇潇书城-首页</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到潇潇书城!</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    欢迎您：<em>[[ username ]]</em>
                    <span>|</span>
                    <a @click="logout">退出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="login.html">登录</a>
                    <span>|</span>
                    <a href="register.html">注册</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="user_center_info.html">用户中心</a>
                    <span>|</span>
                    <a href="cart.html">我的购物车</a>
                    <span>|</span>
                    <a href="user_center_order.html">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="images/logo.png"></a>
        <div class="search_wrap fl">
            <form method="get" action="/search.html" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
            <ul class="search_suggest fl">
                <li v-for="keyword in keywords"><a :href="get_keyword_url(keyword.name)">[[ keyword.name ]]</a></li>
            </ul>
        </div>

        <div class="guest_cart fr">
            <a href="#" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">[[cart_total_count]]</div>

            <ul class="cart_goods_show">
                <li v-for="sku in cart">
                    <a href="/cart.html"><img :src="sku.default_image_url" alt="商品图片"></a>
                    <a href="/cart.html"><h4>[[sku.name]]</h4></a>
                    <div>[[sku.count]]</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">真划算</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="pos_center_con clearfix">
        <ul class="slide">
            
                <li><a href="/"><img src="http://image.book.com:8888/group1\M00/00/03/wKhdkFxG29qAVBzbAAMHDHs868o4220606" alt="美女的世界"></a></li>
            
                <li><a href="/"><img src="http://image.book.com:8888/group1\M00/00/03/wKhdkFxG2-eARyYxAAG0Y7PaBME1832562" alt="美女的世界"></a></li>
            
                <li><a href="/"><img src="http://image.book.com:8888/group1\M00/00/03/wKhdkFxG2_OAKin8AALTxmjw_vg9595946" alt="美女的世界"></a></li>
            
                <li><a href="/"><img src="http://image.book.com:8888/group1\M00/00/03/wKhdkFxG3ACAJ3t_AAL4SzulIn46509669" alt="美女的世界"></a></li>
            
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points">
            <!-- <li class="active"></li>
            <li></li>
            <li></li>
            <li></li> -->
        </ul>
        <ul class="sub_menu">
            
                <li>
                    <div class="level1">
                        
                            <a href="/">文学</a>
                        
                            <a href="/">小说</a>
                        
                            <a href="/">传记</a>
                        
                    </div>
                    <div class="level2">
                        
                            <div class="list_group">
                                <div class="group_name fl">青春文学 &gt;</div>
                                <div class="group_detail fl">
                                    
                                        <a href="/list.html?cat=865">韩国青春文学</a>
                                    
                                        <a href="/list.html?cat=866">玄幻/科幻/新武侠</a>
                                    
                                        <a href="/list.html?cat=867">悬疑/惊悚</a>
                                    
                                        <a href="/list.html?cat=869">大陆原创</a>
                                    
                                        <a href="/list.html?cat=870">娱乐/偶像</a>
                                    
                                        <a href="/list.html?cat=871">爆笑/无厘头</a>
                                    
                                        <a href="/list.html?cat=872">古代言情</a>
                                    
                                        <a href="/list.html?cat=873">其他国外青春文学</a>
                                    
                                        <a href="/list.html?cat=874">叛逆/成长</a>
                                    
                                        <a href="/list.html?cat=875">爱情/情感</a>
                                    
                                        <a href="/list.html?cat=876">港台青春文学</a>
                                    
                                        <a href="/list.html?cat=879">校园</a>
                                    
                                </div>
                            </div>
                        
                            <div class="list_group">
                                <div class="group_name fl">文学 &gt;</div>
                                <div class="group_detail fl">
                                    
                                        <a href="/list.html?cat=782">儿童文学</a>
                                    
                                        <a href="/list.html?cat=881">文学评论与研究</a>
                                    
                                        <a href="/list.html?cat=882">戏剧曲艺</a>
                                    
                                        <a href="/list.html?cat=883">文学史</a>
                                    
                                        <a href="/list.html?cat=884">影视文学</a>
                                    
                                        <a href="/list.html?cat=885">文学理论</a>
                                    
                                        <a href="/list.html?cat=886">名家作品</a>
                                    
                                        <a href="/list.html?cat=887">外国文学</a>
                                    
                                        <a href="/list.html?cat=888">纪实文学</a>
                                    
                                        <a href="/list.html?cat=889">民间文学</a>
                                    
                                        <a href="/list.html?cat=890">期刊杂志</a>
                                    
                                        <a href="/list.html?cat=891">作品集</a>
                                    
                                        <a href="/list.html?cat=893">散文/随笔/书信</a>
                                    
                                        <a href="/list.html?cat=894">诗歌词曲</a>
                                    
                                </div>
                            </div>
                        
                            <div class="list_group">
                                <div class="group_name fl">小说 &gt;</div>
                                <div class="group_detail fl">
                                    
                                        <a href="/list.html?cat=2">魔幻/奇幻/玄幻</a>
                                    
                                        <a href="/list.html?cat=3">四大名著</a>
                                    
                                        <a href="/list.html?cat=4">惊悚/恐怖</a>
                                    
                                        <a href="/list.html?cat=5">乡土</a>
                                    
                                        <a href="/list.html?cat=6">职场</a>
                                    
                                        <a href="/list.html?cat=67">社会</a>
                                    
                                        <a href="/list.html?cat=133">历史</a>
                                    
                                        <a href="/list.html?cat=226">都市</a>
                                    
                                        <a href="/list.html?cat=227">中国古典小说</a>
                                    
                                        <a href="/list.html?cat=230">中国近现代小说</a>
                                    
                                        <a href="/list.html?cat=240">财经</a>
                                    
                                        <a href="/list.html?cat=252">侦探/悬疑/推理</a>
                                    
                                        <a href="/list.html?cat=253">科幻小说</a>
                                    
                                        <a href="/list.html?cat=280">中国当代小说</a>
                                    
                                        <a href="/list.html?cat=281">港澳台小说</a>
                                    
                                        <a href="/list.html?cat=282">穿越/重生/架空</a>
                                    
                                        <a href="/list.html?cat=283">外国小说</a>
                                    
                                        <a href="/list.html?cat=892">世界名著</a>
                                    
                                        <a href="/list.html?cat=895">影视小说</a>
                                    
                                        <a href="/list.html?cat=896">军事</a>
                                    
                                        <a href="/list.html?cat=897">官场</a>
                                    
                                        <a href="/list.html?cat=898">武侠</a>
                                    
                                        <a href="/list.html?cat=899">宫廷</a>
                                    
                                        <a href="/list.html?cat=900">情感/家庭/婚姻</a>
                                    
                                </div>
                            </div>
                        
                            <div class="list_group">
                                <div class="group_name fl">传记 &gt;</div>
                                <div class="group_detail fl">
                                    
                                        <a href="/list.html?cat=843">家族研究与传记</a>
                                    
                                        <a href="/list.html?cat=844">姓氏谱系</a>
                                    
                                        <a href="/list.html?cat=845">社会百相</a>
                                    
                                        <a href="/list.html?cat=846">自传</a>
                                    
                                        <a href="/list.html?cat=847">学者</a>
                                    
                                        <a href="/list.html?cat=848">哲学家</a>
                                    
                                        <a href="/list.html?cat=849">国学大师</a>
                                    
                                        <a href="/list.html?cat=850">人物合集</a>
                                    
                                        <a href="/list.html?cat=851">建筑师/设计师</a>
                                    
                                        <a href="/list.html?cat=852">艺术家</a>
                                    
                                        <a href="/list.html?cat=853">宗教人物</a>
                                    
                                        <a href="/list.html?cat=854">体坛之星</a>
                                    
                                        <a href="/list.html?cat=855">女性人物</a>
                                    
                                        <a href="/list.html?cat=856">文娱明星</a>
                                    
                                        <a href="/list.html?cat=857">文学家</a>
                                    
                                        <a href="/list.html?cat=858">科学家</a>
                                    
                                        <a href="/list.html?cat=859">教育家</a>
                                    
                                        <a href="/list.html?cat=860">财经人物</a>
                                    
                                        <a href="/list.html?cat=861">政治人物</a>
                                    
                                        <a href="/list.html?cat=862">领袖首脑</a>
                                    
                                        <a href="/list.html?cat=863">历史人物</a>
                                    
                                        <a href="/list.html?cat=868">军事人物</a>
                                    
                                        <a href="/list.html?cat=877">经典传记</a>
                                    
                                        <a href="/list.html?cat=878">历代帝王</a>
                                    
                                </div>
                            </div>
                        
                    </div>
                </li>
            
        </ul>

    </div>


    
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">每日疯抢</h3>
                <div class="subtitle fr">
                    
                        <a @mouseenter="f1_tab=1"
                           :class="f1_tab===1?'active':''">中国当代小说</a>
                    
                        <a @mouseenter="f1_tab=2"
                           :class="f1_tab===2?'active':''">科幻小说</a>
                    
                        <a @mouseenter="f1_tab=3"
                           :class="f1_tab===3?'active':''">中国近现代小说</a>
                    

                </div>
            </div>
            <div class="goods_con clearfix">
                
                    <ul v-show="f1_tab===1" class="goods_list fl">
                        
                            <li>
                                <a href="/goods/1.html" class="goods_pic"><img src="//img14.360buyimg.com/n7/jfs/t3814/347/179872441/177518/bd7bf523/5809c0d0N09f44e52.jpg"></a>
                                <h4><a href="/goods/1.html">红与黑（高晓松推荐   法国国家图书馆藏本   全新修订）</a></h4>
                                <div class="prize">29.90</div>
                            </li>
                        
                            <li>
                                <a href="/goods/4.html" class="goods_pic"><img src="//img14.360buyimg.com/n7/jfs/t22369/229/718832911/458967/8c31ec3c/5b162a49N7701bd5a.jpg"></a>
                                <h4><a href="/goods/4.html">大江大河四部曲（套装共4册）（史诗级电视剧《大江大河》原著小说，王凯、杨烁、董子健主演。一部描写改革开放的奇书。）</a></h4>
                                <div class="prize">232.00</div>
                            </li>
                        
                    </ul>
                
                    <ul v-show="f1_tab===2" class="goods_list fl">
                        
                            <li>
                                <a href="/goods/17.html" class="goods_pic"><img src="//img11.360buyimg.com/n7/jfs/t3226/140/7598807982/455417/eb82ef44/58b93192N11afecb9.jpg"></a>
                                <h4><a href="/goods/17.html">中国科幻基石丛书：超新星纪元（典藏版）</a></h4>
                                <div class="prize">19.40</div>
                            </li>
                        
                    </ul>
                
                    <ul v-show="f1_tab===3" class="goods_list fl">
                        
                            <li>
                                <a href="/goods/13.html" class="goods_pic"><img src="//img12.360buyimg.com/n7/jfs/t11758/331/853072203/462745/65a0b2e5/59f979afNfc6dc196.jpg"></a>
                                <h4><a href="/goods/13.html">作家榜经典：呼兰河传（新版！民国传奇女作家，萧红经典代表作！未删节插图珍藏版，附录《生死场》）</a></h4>
                                <div class="prize">29.90</div>
                            </li>
                        
                    </ul>
                

            </div>

        </div>
    
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">新品上市</h3>
                <div class="subtitle fr">
                    
                        <a @mouseenter="f2_tab=1"
                           :class="f2_tab===1?'active':''">中国古典小说</a>
                    

                </div>
            </div>
            <div class="goods_con clearfix">
                
                    <ul v-show="f2_tab===1" class="goods_list fl">
                        
                            <li>
                                <a href="/goods/14.html" class="goods_pic"><img src="//img12.360buyimg.com/n7/jfs/t1/23981/16/157/283857/5c078e9fEfdb2e768/47f074ecee3f06dc.jpg"></a>
                                <h4><a href="/goods/14.html">《红楼梦》（启功注释程乙本纪念版，全四册）</a></h4>
                                <div class="prize">131.10</div>
                            </li>
                        
                    </ul>
                

            </div>

        </div>
    


    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 安阳潇潇股份有限公司 All Rights Reserved</p>
        <p>电话：0370-15037271323 京ICP备*******8号</p>
    </div>
</div>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>